@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    @apply m-0 p-0 box-border;
    font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "JetBrains Mono", monospace;
}

body {
    @apply bg-neutral-950 text-zinc-200;
}

h1 {
    @apply text-4xl font-bold mb-2;
}

.app-container {
    @apply items-center w-full;
    ul {
        @apply list-none flex gap-2 justify-around flex-col w-2/3;
        li {
            @apply min-w-96 text-xl rounded-md transition-all ease-in-out duration-150 border-2 flex flex-row border-gray-500  bg-neutral-950 hover:bg-neutral-700;

            input[type="checkbox"] {
                @apply w-4 h-4;
            }

            h4 {
                @apply font-semibold text-2xl;
            }

            #note-info {
                @apply flex flex-col p-2;
            }

            #delete-button {
                @apply flex flex-col justify-around ml-auto transition-all ease-in-out duration-150 p-2 hover:bg-red-600;

                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;

                svg {
                    @apply w-6 h-6;
                }
            }
        }
    }
}
